html {
  font-family: sans-serif;
  /* background: #eee; */
  padding: 1rem;
}

.todos-wrapper {
  background-color: gray;
  border: 
}

body {
  max-width: 980px;
  margin: 0 auto;
  background-color: white;
  border: 1px;
}

.hidden {
  display: none;
}

.lists-wrapper {
  width: 300px;
  padding: 0 1rem 1rem;
  background: slategray;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 300px;
}

li {
  clear: both;
}

li button {
  -webkit-appearance: none;
  border: none;
  outline: none;
  color: red;
  float: right;
  cursor: pointer;
  font-size: 20px;
}
  
.lists-wrapper, .todos-wrapper {
  display: inline-block;
  vertical-align: top;
}

/* .check-completed {
  background : orange;
  size: 40px;
} */